#navbar{
        display: flex;
        background-color: yellow;
      }
      #navbar>div{
        display: flex;
        padding:2%;
      }
      #navbar>h2{
        margin-left: 50px;
      }
      div>a{
        margin:10px;
        margin-top: 10px;
        text-decoration: none;
      }
       h2{
        margin: auto;
      } 