#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px 10px;
    padding: 60px;  
}
#container>div{
    width: 90%;
    margin: auto;
    box-shadow: rgba(246, 213, 49, 0.992) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 10px;
}
#container>div>div{
    display: flex;
    width: 90%;
}
h5,h4{
    margin:25px;
    font-size: 23px;
    padding: 0px 8px;
    margin-bottom: 5px;
}
p{
    padding: 10px 20px 20px 35px;
    width: 70%;
}
h5{
    color: rgb(187, 136, 5);
    padding-left: 120px;
}
@media screen and (min-width: 951px) and (max-width:after){
    #container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width: 501px) and (max-width: 950px){
    #container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 0) and (max-width:500px){
    #container{
        grid-template-columns: repeat(1,1fr);
    }
}
    
