#navbar{
        display: flex;
        justify-content: space-between;
        background-color: gray;

      }
      #navbar>div{
        display: flex;
        /* justify-content: space-between; */
        margin: 10px;
      }
      h3{
        margin: 10px;
      }
      a{
        color: black;
        text-decoration: none;
      }

      #items{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3,1fr);
      }

      #items>div{
        text-align: center;
        margin: auto;
        gap: 30px;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


      }
